
<div class = "row">
  <div class = "col-2">
    <%= render 'public/users/sidebar' %>
  </div>
  <div class = "col-8 mt-5">
    <%= render 'layouts/errors', user: @post %>
    <h3 class = "mb-4">どこを変える？</h3>
      <%= form_with model:@post do |f| %>
      <div class="mb-3">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title ,class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image ,accept: 'image/*',class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :body, "本文" %>
        <%= f.text_area :body ,rows: "10",class:"form-control"%>
      </div>
      <div class = "mt-4 d-flex justify-content-between">
        <div>
          <%= link_to "戻る", post_path(@post) ,class: " btn btn-outline-primary rounded-pill"%>
        </div>
        <div>
          <%= f.submit '保存' ,class: " text-end btn btn-outline-success rounded-pill" %>
          <%= link_to "削除", post_path(@post), method: :delete,class: "btn btn-outline-danger rounded-pill", data: {confirm: "本当に削除するの？(´・ω・`)"} %>
        </div>
      </div>
    <% end %>
    
  </div>
  
  <div class = "col-2">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>