
<div class = "row">
  <div class ="col-2">
    <%= render 'public/users/sidebar' %>
  </div>

  <div class = "col-8">
    <% @posts.each do |post| %>
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.get_profile_image(100,100), class:"rounded-circle border border-black" %>
        <%= post.user.name %>
      <% end %>
      <%= link_to post_path(post) do %>
        <%= post.title %>
        <%= image_tag post.image %>
        <%= post.body %>
      <% end %>
    <% end %>
  </div>
</div>