
<div class = "row">
  <div class ="col-3">
    <%= render 'public/users/sidebar' %>
  </div>

  <div class = "col-6">
    <% @posts.each do |post| %>
      <%= image_tag post.user.get_profile_image(100,100) %>
      <%= post.user.name %>
      <%= post.title %>
      <%= image_tag post.image %>
      <%= post.body %>
    <% end %>
  </div>
</div>