<div class = "row">
  <div class = "col-2 d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>
  <div class = "col-12 col-md-8 px-3 mt-5">
    <h3 class = "mb-4">何を知らせよう？</h3>
      <%= render 'layouts/errors', user: @post %>
      <%= form_with model:@post do |f| %>
        <div class="mb-3">
          <%= f.label :title, "タイトル:" %>
          <%= f.text_field :title,class:"form-control", autofocus: true, placeholder: "タイトルを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :image, "画像:" %>
          <%= f.file_field :image, accept: 'image/*',class:"form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :body, "本文: "%>
          <%= f.text_area :body, placeholder: "200字以内で入力してください",class:"form-control" %>
        </div>

        <%= f.submit '投稿する',class: "btn btn-outline-success rounded-pill" %>
      <% end %>
    </div>

  <div class = "col-2 d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>