<div class="row min-vh-100">
  <%# 左サイドバー %>
  <div class="col-2 p-0 d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>

  <%# メインコンテンツ %>
  <div class="col-12 col-md-8 px-3 mt-5 d-flex flex-column align-items-center">
    <%# 投稿本体 %>
    <div class="overflow-auto w-100 py-5" style="max-height: 600px;">
      <div class="row w-100 border-bottom">
        <div class="col-12 col-md-2 text-center">
          <%= link_to user_path(@post.user), class: "text-decoration-none text-dark" do %>
            <%= image_tag @post.user.get_profile_image(100, 100), class: "rounded-circle border border-black" %>
            <div class="mt-3"><%= @post.user.name %></div>
          <% end %>
        </div>

        <div class="col-12 col-md-8 d-flex flex-column text-center justify-content-center">
          <h4 class="py-3 fw-bold"><%= @post.title %></h4>
          <% if @post.image.attached? %>
            <div class="mx-auto mb-3 d-flex align-items-center justify-content-center rounded" style="max-width: 100%; background-color: #f0f0f0;">
              <%= image_tag @post.image, style: "max-height: 100%; max-width: 100%; object-fit: contain;" %>
            </div>
          <% end %>
          <%= simple_format(@post.body) %>
          <div class= "d-flex justify-content-around">
            <p><i class="fa-solid fa-comment" style="color: #5ad3cb;"></i> <%= @post.post_comments.count %></p>
            <div id="favorite-btn-<%= @post.id %>">
              <%= render 'public/favorites/favorites.button', post: @post %>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-2">
          <% if @post.user == current_user %>
            <%= link_to "編集", edit_post_path(@post) %><br>
            <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除するの？(´・ω・`)" } %>
          <% end %>
        </div>
      </div>

      <%# コメント一覧 %>
      <% @post.post_comments.each do |post_comment| %>
        <div class="row border-bottom py-3 m-0">
          <div class="col-3 text-center">
            <%= image_tag post_comment.user.get_profile_image(80, 80), class: "rounded-circle border black" %>
            <div class="mt-3"><%= post_comment.user.name %></div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <%= simple_format(post_comment.comment) %>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <% if post_comment.user == current_user %>
              <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, data:{confirm: "コメントを削除しますか？"} ,class: "btn btn-outline-danger" do %>
                <i class="fa-solid fa-trash" style="color: #c32c34;"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
        <%# コメント投稿フォーム（中央寄せ＆横幅75%） %>
      <div class="w-100 mt-5 d-flex justify-content-center">
        <%= form_with model: [@post, @post_comment], local: false, html: { class: "w-75" } do |f| %>
          <%= f.text_area :comment, rows: 5, placeholder: "コメントをここに書いてね", class: "form-control" %>
          <div class="text-end mt-3">
            <%= button_tag type: "submit", class: "btn btn-outline-primary mb-2" do %>
              そうしん<i class="fa-regular fa-paper-plane ms-1" style="color: #74C0FC;"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <%# 右サイドバー %>
  <div class="col-2 p-0 d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>