<div class="row min-vh-100">
  <%# 左サイドバー %>
  <div class="col-2 p-0 d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>

  <%# メインコンテンツ %>
  <div class="col-12 col-md-8 px-3 mt-5 d-flex flex-column align-items-center">
    <%# 投稿本体 %>
    <div class="overflow-auto w-100 py-5" style="max-height: 650px;">
      <div class="row w-100 border-bottom border-top pt-3">
        <div class="col-12 col-md-2 text-center">
          <%= link_to user_path(@post.user), class: "text-decoration-none text-dark" do %>
            <%= image_tag @post.user.get_profile_image(100, 100), class: "rounded-circle border border-black" %>
            <div class="mt-3"><%= @post.user.name %></div>
          <% end %>
        </div>

        <div class="col-12 col-md-8 d-flex flex-column text-center justify-content-center">
          <h4 class="py-3 fw-bold"><%= @post.title %></h4>
          <% if @post.image.attached? %>
            <div class="mx-auto mb-3 d-flex align-items-center justify-content-center rounded" style="max-width: 100%; background-color: #f0f0f0;">
              <%= image_tag @post.image, style: "max-height: 100%; max-width: 100%; object-fit: contain;" %>
            </div>
          <% end %>
          <%= simple_format(@post.body) %>
          <div class= "d-flex justify-content-around">
            <div id= "comment-count">
              <%= render 'public/post_comments/comment_count', post: @post %>
            </div>
            <div id="favorite-btn-<%= @post.id %>">
              <%= render 'public/favorites/favorites.button', post: @post %>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-2 d-flex justify-content-end align-items-end text-center">
          <% if @post.user == current_user %>
            <p><%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-success rounded-pill" %></p>
            <p class= "ps-3"><%= link_to "削除", post_path(@post), method: :delete,class: "btn btn-outline-danger rounded-pill", data: { confirm: "本当に削除するの？(´・ω・`)" } %></p>
          <% end %>
        </div>
      </div>

      <%# コメント一覧 %>
      <div id="comments-list">
        <%= render 'public/post_comments/index', post: @post %>
      </div>
        <%# コメント投稿フォーム（中央寄せ＆横幅75%） %>
      <div class="w-100 mt-5 d-flex justify-content-center">
        <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
  
  <%# 右サイドバー %>
  <div class="col-2 p-0 d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>