
<div class = "overflow-auto" style = "max-height: 600px;">
  <table class= "table text-center">
    <tr>
      <th>なまえ</th>
      <th>しゃしん</th>
      <th>かんけい</th>
      <th></th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td class= "align-middle">
          <%= link_to user.name, user_path(user), class: "text-decoration-none text-dark" %>
        </td>
        <td class= "align-middle"><%= image_tag user.get_profile_image(90,90),class: "rounded-circle border border-black" %></td>
        <td class= "align-middle">
          <% if current_user.following?(user) && user.following?(current_user) %>
            <div class= "text-success"><%= "お互いを見守っています" %></div>
          <% end %>
        </td>
        <td class= "align-middle">
          <% if current_user.following?(user) %>
            <%= link_to "ツナガラナイ", user_relationships_path(user), method: :delete, class: "btn btn-outline-primary rounded-pill" %>
          <% else %>
            <%= link_to "ツナガル", user_relationships_path(user), method: :post, class: "btn btn-outline-info rounded-pill" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>