<div class="row">
  <!-- 左サイドバー -->
  <div class="col-2 p-0 bg-light sidebar d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>

  <div class="col-12 col-md-8 px-3 mt-5">
    <h3 class="text-center">
      <%= image_tag 'teru.jpg', style:"width:5%; height: 10%;" %>
      <%= link_to @partner.name, user_path(@partner), class: "text-decoration-none text-dark" %>さんとのお部屋
      <%= image_tag 'teru.jpg', style:"width:5%; height: 10%;" %>
    </h3>

    <div class= "overflow-auto" style= "height:600px;">
      <div id = "messages-list">
        <%= render 'public/messages/messages',messages: @messages, myUserId: @myUserId %>
      </div>
      <%= render 'public/messages/form',room: @room, message: @message %>
    </div>
  </div>

  <!-- 右サイドバー -->
  <div class="col-2 p-0 d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>