
<div class="d-flex vh-100">
  <!-- 左サイドバー -->
  <div class="col-2 p-0 bg-light d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>
  <!-- メインコンテンツ（スクロール領域） -->
  <div class="col-12 col-md-8 p-0 content-area d-flex flex-column align-items-center">
    <% if @posts.present? %>
      <h3 class = "mt-3 fw-bold text-center">"<%= @content %>"の検索結果を表示しています。</h3>
    <% else %>
    <h3 class = "mt-3 fw-bold text-center">"<%= @content %>"が含まれる雫はありませんでした。</h3>
    <% end %>
    
    <div class="overflow-auto w-100 py-5">
      <%= render 'public/posts/index.posts', posts: @posts %>
    </div>
  </div>

  <!-- 右サイドバー -->
  <div class = "col-2 p-0 bg-light d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>
