<div class = "main-visual">
  <h4 class = "text-center pt-5">音を愛する、<br/>すべての音楽家たちへ。</h4>
  <div class="text-center pt-5"><%= image_tag 'ame.jpg', alt: "傘を差す女の子", style: "width:45%; height: 45%;" %></div>
</div>
<div class = "main-wrap pt-5" >
  <h4 class = "text-center pb-5 m-0 border-bottom"><%= image_tag '26515360.png', style:"width:5%; height: 10%;" %> MeloDrop でできること <%= image_tag '26515360.png', style:"width:5%; height: 10%;" %></h4>
  <div class = "step d-flex flex-column">
    <div class = "picture d-flex align-items-center justify-content-center px-5 py-3 ">
      <%= image_tag "sakkyokuka.jpg", style: "width:25%; aspect-ratio: 1/1;", class:"rounded-circle border"%>
      <div class = "text-center">
        <h4><%= image_tag 'sizuku5.png', size: "30x45" %> 雫を拾う <%= image_tag 'sizuku2.png', size: "30x45" %></h4>
        <div class = "mx-4 my-4 mt-5" >
          <p class = "ps-4">MeloDropには、音楽を愛するたくさんの「アメフラシ（ユーザー）」がいます。</p>
          <p>「引き出しを増やしたい」「音楽制作に息詰まった」「これから楽曲制作を始めたい」</p>
          <p>そんなあなたの想いに呼応し、アメフラシの雫があなたを助けます。</p>
          <p>アメフラシの雫を拾い、あなたの音楽センスを輝かせましょう。</p>
        </div>
        </p>
      </div>
    </div>
    <div class = "picture d-flex justify-content-center align-items-center px-5 py-3">
      <div class = "text-center ">
        <h4><%= image_tag 'sizuku1.png', size: "30x45" %> 雫を落とす <%= image_tag 'sizuku3.png', size: "30x45" %></h4>
        <div class = "mx-4 my-4 mt-5">
          <p class = "ps-4">MeloDropでは、あなたの「知識」や「気づき」を共有できます。</p>
          <p>また、 音楽に対するあなたの悩みや気持ちを共有することで、<br/>アメフラシたちが直接助けてくれることも。</p>
          <p>雫を提供するアメフラシとして、たくさんの想いを届けてみましょう。</p>
          <p>雫を落とすと、他のアメフラシから「カケラ」が届くかも…？？</p>
        </div>
      </div>
     <%= image_tag "toukou.jpg", style: "width:25%; aspect-ratio: 1/1;", class: "rounded-circle border" %>
    </div>

    <div class = "picture d-flex px-5 py-3 align-items-center justify-content-center">
      <%= image_tag "partner.png", style: "width:25%; aspect-ratio: 1/1;", class: " bg-white rounded-circle border" %>
      <div class = "text-center">
        <h4><%= image_tag 'sizuku4.png', size: "30x45" %> ツナガル <%= image_tag 'sizuku6.png', size: "30x45" %></h4>
        <div class = "mx-4 my-4 mt-5">
          <p class = "ps-4">MeloDropでは、世界中にいるアメフラシと「ツナガル」ことができます。</p>
          <p>アメフラシと「ツナガル」ことで、新たな仲間を作ることができます。</p>
          <p>アメフラシは繊細な生き物です。お互いに思いやる気持ちを忘れないでいればよい関係が築けることでしょう。</p>
          <p>積極的にアメフラシとつながり、あなたの音楽世界を広めていきましょう。</p>
        </div>
      </div>
    </div>
  </div>
  <% unless user_signed_in? %>
    <div class = " py-5 d-flex justify-content-center text-center flex-column">
      <h4 class = " py-5">Melo Dropで 音の雫を探しに行こう。</h4>
      <h3>Do you link music ?</h3>
    </div>
    
      <div class = "d-flex justify-content-around pb-5">
        <h4><%= link_to "とうろく", new_user_registration_path, class: "text-decoration-none" %> </h4>
        <h4><%= link_to "おためし", guest_sign_in_path, method: :post, class: "text-decoration-none" %></h4>
        <h4><%= link_to "ログイン", new_user_session_path, class: "text-decoration-none" %></h4>
      </div>
  <% end %>
</div>