<div class = "main-visual">
  <h4 class = "text-center pt-5">すべての音楽家たちへ。</h4>
  <div class="text-center pt-5"><%= image_tag 'ame.jpg', size:"500x350"%></div>
</div>
<div class = "main-wrap pt-5" >
  <h4 class = "text-center mb-5">MeloDrop でできること </h4>
  <div class = "step d-flex flex-column">
    <div class = "picture d-flex align-items-center px-5 ">
      <%= image_tag "sakkyokuka.jpg", size:"350x350",class: "rounded-circle border" %>
      <div class = "text-center">
        <h4>💧雫を拾う💧</h4>
        <div class = "mx-4 my-4 mt-5" >
          <p class = "ps-4">MeloDropには、音楽を愛するたくさんの「アメフラシ」がいます。</p>
          <p>リファレンス楽曲を探したい」「音楽制作に息詰まった」「これから楽曲制作を始めたい」</p>
          <p>そんなあなたの想いに呼応し、アメフラシの雫があなたを助けます。</p>
          <p>アメフラシの雫を拾い、あなたの音楽センスを輝かせましょう。</p>
        </div>
        </p>
      </div>
    </div>
    <div class = "picture d-flex align-self-end align-items-center px-5">
      <div class = "text-center ">
        <h4>💧雫を落とす💧</h4>
        <div class = "mx-4 my-4 mt-5">
          <p class = "ps-4">MeloDropでは、たくさんのアメフラシにあなたの「知識」や「気づき」を共有できます。</p>
          <p>雫を提供するアメフラシとして、新しい発見を届けてみましょう。</p>
          <p>雫を落とすと、他のアメフラシから「カケラ」が届くかも…？？</p>
        </div>
      </div>
      <%= image_tag "toukou.jpg", size:"350x350",class: "rounded-circle border" %>
    </div>

    <div class = "picture d-flex px-5 align-items-center">
      <%= image_tag "partner.png", size:"350x350",class: "rounded-circle border bg-light" %>
      <div class = "text-center">
        <h4>💧ツナガル💧</h4>
        <div class = "mx-4 my-4 mt-5">
          <p class = "ps-4">MeloDropでは、世界中にいるアメフラシと「ツナガル」ことができます。</p>
          <p>アメフラシと「ツナガル」ことで、新たな仲間を作ることができます。</p>
          <p>アメフラシは繊細な生き物です。お互いに思いやる気持ちを忘れないでいればよい関係が築けることでしょう。</p>
          <p>積極的にアメフラシとつながり、あなたの音楽世界を広めていきましょう。</p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "新規登録", new_user_registration_path %> 
  <%= link_to "ゲストログイン", guest_sign_in_path, method: :post %> 
  <%= link_to "ログイン", new_user_session_path %>
  <h4 class = "text-center pt-2">Melo Dropで 音の雫を探しに行こう。</h4>
</div>