<h3>登録して始めよう</h3>
<%= form_with model: @user, url: new_user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "ユーザーネーム" %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "2文字以上20文字以内" %>
  </div>
  
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "フリーアドレスを推奨" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <span>(<%= @minimum_password_length %> 文字以上で入力してね）</span>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認用" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"もう一度メールアドレスを入力してね" %>
  </div>

  <div class="actions">
    <%= f.submit "これで決まり" %>
  </div>
<% end %>

<p>登録済みの場合は、<%= render "public/shared/links" %>からログインしてね</p>
