<div class="container">
  <div class = "row">
    <div class="col-6 mx-auto mt-5 py-3 px-3 shadow rounded-3">
      <%= render "public/shared/error_messages", resource: @user %>
      <h3 class= "mb-4 text-center">アメフラシになろう</h3>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-user" style="color: #74C0FC;"></i>
            </span>
            <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "ユーザーネーム ※2文字以上20文字以内" %>
          </div>
        </div>
        
        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-envelope" style="color: #74C0FC;"></i>
            </span>
            <%= f.email_field :email, class: "form-control",autocomplete: "email", placeholder: "メールアドレス ※フリーアドレスを推奨" %>
          </div>
        </div>

        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-lock" style="color: #74C0FC;"></i>
            </span>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control",placeholder: "#{@minimum_password_length}文字以上で入力してください"%>
          </div>
        </div>

        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-circle-check" style="color: #74C0FC;"></i>
            </span>
              <%= f.password_field :password_confirmation, class: "form-control",autocomplete: "new-password", placeholder:"もう一度パスワードを入力してください" %>
          </div>
        </div>

        <div class="actions text-center">
          <%= f.submit "始める", class: "btn btn-outline-info rounded-pill" %>
        </div>
      <% end %>
      <p class= "mt-3 text-center">登録済みの場合は<%= render "public/shared/links" %> </p>
    </div>
  </div>
</div>
