<h2>待ってたよ！</h2>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<%= form_with model: @user, url: user_session_path do |f| %>
  <div class="field">
    <%= f.label :email , "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password , "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

会員登録がお済でない方は<%= render "public/shared/links" %>よりご登録をお願いします。
