<div class = "flex-column bg-light border-end border-info" style="height: 100vh;">
  <div class = "text-center pt-5">
    <%= image_tag current_user.get_profile_image(100,100) ,class: "rounded-circle border border-black"%>
  </div>
    <div class = "text-center mt-2 mb-5"><%= current_user.name %></div>
  
  <div class = "text-center mt-4">
    <div class = "mb-5"><i class="fa-solid fa-music" style="color: #84c5e1;"></i> <%= link_to "マイページ",user_path(current_user) ,class: "text-decoration-none text-dark" %></div>
    <div class = "mb-5"><i class="fa-solid fa-feather" style="color: #84c5e1;"></i> <%= link_to "雫をつくる",new_post_path ,class: "text-decoration-none text-dark" %></div>
    <div class = "mb-5"><i class="fa-solid fa-bell" style="color: #84c5e1;"></i> <%= link_to  "空のたより",new_post_path ,class: "text-decoration-none text-dark" %></div>
  </div>
</div>