<h2>ユーザー編集画面<h2>
  <%= form_with model: @user do |f| %>
    <div class="field">
      <%= f.label :name , ":ユーザーネーム" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :profile_image , ":プロフィール画像" %><br />
      <%= f.file_field :profile_image, accept: 'image/*' %>
    </div>

    <div class="field">
      <%= f.label :body , ":ユーザーネーム" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
  <% end %>