<div class="row">
  <!-- 左サイドバー（PCのみ表示） -->
  <div class="col-2 p-0 bg-light sidebar d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>

  <!-- メインコンテンツ -->
  <div class="col-12 col-md-8 p-0 mt-5 d-flex flex-column">
    <!-- プロフィール部分 -->
    <div class="row px-3 px-md-5">
      <div class="col-12 d-flex flex-column flex-md-row align-items-center">
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle border border-black me-md-4 mb-3 mb-md-0", style: "width: 100px; height: 100px; object-fit: cover;" %>
        <div class="text-start">
          <div class="mb-2">なまえ: <%= @user.name %></div>
          <div class="mb-2">しょうかい: <%= @user.introduction %></div>
          <div class="mb-2">フォロー：63人 フォロワー:100人</div>
        </div>
        <% if @user == current_user %>
          <div class="ms-md-auto mt-3 mt-md-0">
            <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary" do %>
              <i class="fa-solid fa-gear"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- メニュー -->
    <div class="d-flex justify-content-around w-100 text-center mt-4 flex-wrap">
      <div class="border-bottom px-2">投稿</div>
      <div class="border-bottom px-2">いいね</div>
      <div class="border-bottom px-2">下書き</div>
      <div class="border-bottom px-2">DM</div>
    </div>

    <!-- 投稿一覧 -->
    <div class= "mt-3">
      <%= render 'public/posts/index.posts', posts: @posts %>
    </div>
      <%# いいねした投稿一覧 %>
      <%= render 'public/posts/index.posts', posts: @favorited_posts %>
  </div>

  <!-- 右サイドバー（PCのみ表示） -->
  <div class="col-2 p-0 bg-light sidebar d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>