<div class="row">
  <!-- 左サイドバー（PCのみ表示） -->
  <div class="col-2 p-0 bg-light sidebar d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>

  <!-- メインコンテンツ -->
  <div class="col-12 col-md-8 p-0 mt-5 d-flex flex-column">
    <!-- プロフィール部分 -->
    <div class="row px-3 px-md-5">
      <div class="col-12 d-flex flex-column flex-md-row align-items-center">
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle border border-black me-md-4 mb-3 mb-md-0", style: "width: 100px; height: 100px; object-fit: cover;" %>
        <div class= "d-flex flex-column">
          <div class="mb-2">なまえ: <%= @user.name %></div>
          <div class="mb-2">しょうかい: <%= @user.introduction %></div>

          <div class= "d-flex mt-3 align-items-center">
            <div class= "me-5">
              <%= link_to followings_path(@user),class: "text-decoration-none text-dark" do %>
                フォロー：<%= @user.followings.count %>人 
              <% end %>
            </div>

            <div class="ms-5">
              <%= link_to followers_path(@user),class: "text-decoration-none text-dark" do %>
                フォロワー:<%= @user.followers.count %>人
              <% end %>
            </div>
          </div>
        </div>

        <% if current_user != @user %>
          <div class="ms-md-auto mt-3 mt-md-0" style= "white-space: nowrap;">
            <% if current_user.following?(@user) %>
              <%= link_to "ツナガラナイ", user_relationships_path(@user), method: :delete, class: "btn btn-outline-primary rounded-pill" %>
            <% else %>
              <%= link_to "ツナガル", user_relationships_path(@user), method: :post, class: "btn btn-outline-info rounded-pill" %>
            <% end %>
          </div>
          <% if current_user.following?(@user) && @user.following?(current_user) %>
            <% if @isRoom.present? %>
              <%= link_to room_path(@isRoom), class: "btn btn-outline-primary ms-4" do %>
                <i class="fa-solid fa-envelope" style="color: #74C0FC;"></i>
              <% end %>
            <% else %>
            <%= form_with model: @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
                  <%= button_tag type: "submit", class: "btn btn-outline-primary ms-4" do %>
                    <i class="fa-regular fa-envelope" style="color: #74C0FC;"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        
        <% if @user == current_user %>
          <div class="ms-md-auto mt-3 mt-md-0">
            <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary" do %>
              <i class="fa-solid fa-gear"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
   
    <ul class="nav nav-tabs justify-content-around mt-4" id= "myTab" role= "tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab">
          落とした雫
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="likes-tab" data-bs-toggle="tab" data-bs-target="#likes" type="button" role="tab">
          カケラを贈った雫
        </button>
      </li>
    <% if @user == current_user %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="drafts-tab" data-bs-toggle="tab" data-bs-target="#drafts" type="button" role="tab">
          落としてない雫
        </button>
      </li>
    <% end %>
    </ul>

    <!-- 投稿一覧 -->
    <div class="tab-content mt-3" id="myTabContent">
      <div class="tab-pane fade show active" id="posts" role="tabpanel">
        <div class= "overflow-auto" style = "max-height: 500px;">
          <%= render 'public/posts/index.posts', posts: @posts_true %>
        </div>
      </div>

      <%# いいねした投稿一覧 %>
      <div class="tab-pane fade" id="likes" role="tabpanel">
        <div class= "overflow-auto" style = "max-height: 500px;">
          <%= render 'public/posts/index.posts', posts: @favorited_posts %>
        </div>
      </div>

      <% if @user == current_user %>
        <%# 非公開（下書き）一覧 %>
        <div class="tab-pane fade" id="drafts" role="tabpanel">
          <div class= "overflow-auto" style = "max-height: 500px;">
            <%= render 'public/posts/index.posts', posts: @posts_false %>
          </div>
        </div> 
      <% end %>
   </div>
  </div>
  <!-- 右サイドバー（PCのみ表示） -->
  <div class="col-2 p-0 bg-light sidebar d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>