<!DOCTYPE html>
<html>
  <head>
    <title>MeloDrop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/0136745229.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>
    <div class = "container">
      <main class="mb-auto">
        <%= yield %>
      </main>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
