<!DOCTYPE html>
<html>
  <head>
    <title>MeloDrop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0136745229.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <% bs_class = case message_type.to_sym
        when :notice then "alert-success"
        when :alert  then "alert-warning"
        when :error  then "alert-danger"
        else "alert-info"
      end %>

    <div class="alert <%= bs_class %> alert-dismissible fade show m-3 text-center" role="alert">
      <%= message %>
    </div>
  <% end %>
      <main class="mb-auto">
        <p>lorem ipsum</p>
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
